

table, th, td {    
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}
th, td {
    border-bottom: 1px solid #ddd
}
th {
    height: 70px;
}
td {
    height: 40px;
}
tr {
    tr: hover {background-color: coral;}
}